@charset "utf-8";
.innerWrap{max-width:1080px;margin:0 auto;}
.material-symbols-outlined{vertical-align: -4px; font-size:36px !important;}
@keyframes arrowdown {
    0% {
        transform: rotate(90deg) translateX(0px);
    }
    20% {
        transform: rotate(90deg) translateX(30px);
        opacity: .3;
    }
    40% {
        transform: rotate(90deg) translateX(10px);
        opacity: .8;
    }
    80% {
        transform: rotate(90deg) translateX(30px);
        opacity: .3;
    }
    100% {
        transform: rotate(90deg) translateX(0px);
    }
}
/* 헤더 */
header{z-index:100;position:fixed;top:0;left:0;right:0;}
header.bg{background-color: rgba(87, 100, 140, .8);}
header.bg a{color:#fff;}
header .innerWrap{height:80px;display:flex;justify-content: space-between;align-items: center;padding:0;}
header h1 a,
header nav a{font-size:1.5rem;font-weight:600;color:hsla(0,0%,100%,.6);}
header h1 a:hover,
header nav a:hover{color:hsla(0,0%,100%,1);}
header nav a+a{margin-left:20px;}
/* 아티클 */
article{position:relative;overflow:hidden;}
article .innerWrap{padding:60px 0;}
article h2{position:relative;margin-bottom:60px;font-size:38px;font-weight:bold;text-align: center;text-transform:uppercase }
.main{
    position:relative;display:flex;justify-content: center;align-items: center;
    height:650px;box-sizing: border-box;background-color: #57648C;
    transition:height .3s;
}
.main .innerWrap{transition:transform .6s;}
.main em{font-family: 'Noto Sans KR', sans-serif;display:block;text-align: center;font-weight:900;font-size:52px;color:#fff;text-shadow: 3px 3px rgba(100,100,100,.5)}
.main p{line-height:38px;font-size:1.3rem;margin-top:50px;color:#fff;text-align:center;}
/* .main.static .innerWrap{transform: translateY(-100px);} */
.main .arrow{margin-top:20px;text-align:center;color:#fff;}
.main .arrow span{
    font-size:86px !important;font-weight:bold;opacity: .1;
    transform: rotate(90deg);
    animation:arrowdown 2s infinite
}
/* .about{background:#F6C026;color:#fff;} */
.flexWrap{display:flex;justify-content: space-between;gap:20px;}
.flexWrap .thumb{flex-basis: 240px;overflow: hidden;}
.flexWrap ul{flex:1;}
.about .thumb{position:relative;display: flex;align-items: center;}
.about .thumb img{position:absolute;top:0;left:0;}
.about ul{display:flex;flex-wrap: wrap;max-width: 800px;}
.about ul li{flex:1 1 33%;}
.about ul span{display:flex;align-items: center;font-size:20px;text-align: left;font-weight:bold;}
.about ul span em{margin-right:10px;}
.about ul li > em{display:block;font-size: 18px;line-height:28px;height:50px;padding-top:10px;}
.about ul li > em a{color:#3380f5}
/* .about ul li:nth-child(-n+3) > em{padding-bottom:50px} */
.about ul li:nth-child(1) > em{padding-bottom:50px}

.skill{background:#ED7458;color:#fff;}
.skill ul li{position:relative;display:flex;gap: 10px;}
.skill ul li+li{margin-top:15px;}
.skill ul li em{width:100px;display:block;text-align: right;}
.skill ul li em.per{width:26px;color:#fff;font-size:14px;white-space: nowrap;}
.skill ul li span{position:relative;height:20px;flex:1;background:rgb(236, 164, 135)}
.skill ul li span i{
    position:absolute;top:0;left:0;bottom:0;font-size:0;color:transparent;background:rgba(255,255,255,.9);width:0;
    border-top-right-radius: 10px;border-bottom-right-radius: 10px;
    transition:width 2s .3s cubic-bezier(0.61, 1, 0.88, 1);
}

.work_list .thumb{position:relative;display:block;flex-basis:250px;height:250px;overflow:hidden;border:1px #eee solid;border-radius:10px}
.work_list .thumb:after{content:'';position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.6);opacity: 0;transition: opacity  .3s;}
.work_list .thumb img{width:150%;position:absolute;top:0;left:50%;transform:translateX(-50%);transition:transform .3s}
.work_list .thumb span{
    position:absolute;z-index: 10;
    font-size:20px;font-weight:bold;color:#fff;text-shadow: 1px 1px rgba(100,100,100,.6);
    white-space: nowrap;transition: left .3s, right .3s;
}
.work_list .thumb span:nth-child(2){left:-100%;top:37%;}
.work_list .thumb span:nth-child(3){right:-100%;bottom:37%;}

.work_list .thumb:hover::after{opacity: 1;}
.work_list .thumb:hover img{transform:translateX(-50%) scale(1.1)}
.work_list .thumb:hover span:nth-child(2){left:50%;transform: translateX(-50%);}
.work_list .thumb:hover span:nth-child(3){right:50%;transform: translateX(50%);}

.work_list li{display:flex;gap:50px;}
.work_list li+li{margin-top:50px;}
.work_list li p{flex:1;font-family: 'Nanum Gothic', sans-serif;line-height: 24px;}
.work_list li p strong{
    display:block;font-size:22px;margin-bottom:10px;
    background: rgba(0,0,0,.3);
    color: #fff;
    padding: 5px;
}
/* .portfolio{background:#ED7458;color:#fff } */

.more{display:block;background: #ED7458;color:#fff;text-align:center;width:150px;padding:10px 50px;margin:50px auto;border-radius:20px;}

.parallax-div{position:absolute;top:0;left:0;bottom:0;right:0;}
.parallax-div .material-symbols-outlined{
    will-Change:transform;
    font-size:100px !important;position:absolute;
    transform:translateX(-50%);
    opacity:.3;
    transition:transform .3s;
}
.parallax-div span:nth-child(1){top:75%;left:0%}
.parallax-div span:nth-child(2){top:30%;left:10%;font-size:150px !important;}
.parallax-div span:nth-child(3){top:150%;left:35%;font-size:250px !important;}
.parallax-div span:nth-child(4){top:45%;left:45%;display: none;}
.parallax-div span:nth-child(5){top:50%;left:45%;font-size:50px !important;}
.parallax-div span:nth-child(6){top:80%;left:55%;font-size:120px !important;}
.parallax-div span:nth-child(7){top:35%;left:85%}
.parallax-div span:nth-child(8){top:90%;left:90%;font-size:200px !important;}
/* .parallax-div span:nth-child(9){top:70%;left:90%} */
.goTop{z-index:100;position:fixed;bottom:50px;right:30px;width:60px;height:60px;transform: translateY(200%);transition: transform .3s;}
.goTop img{width:100%;}
.goTop.show{transform: translateY(0)}
.goTop.foot{transform: translateY(-80px)}
footer{display:flex;justify-content: center;align-items: center; height:100px;background-color: #F6C026;color:#fff;text-align: center;line-height:22px;}

@media (max-width: 768px){
    header{padding:0 10px;}
    header a{font-size:1.1rem !important;}
    header .innerWrap{height:50px;}
    header nav a+a {margin-left: 10px;}
    article .innerWrap{padding:30px 15px;}    
    article.main .innerWrap{padding:90px 15px;}
    .main.static{height:500px !important;}
    .main em{font-size:38px;}
    .main p {
        line-height: 24px;
        font-size: 1rem;
    }
    .main p br:nth-child(2){display:none}
    h1{font-size:18px;text-align: center;}

    .about .thumb{margin-bottom:40px;height:200px;}
    .about .thumb img{width:100%;}
    .about ul span{margin-bottom:5px;font-size: 18px;font-family: 'Nanum Gothic', sans-serif;}
    .about ul span em{margin-right:5px;}
    .about ul li{
        flex:1 1 50%;overflow: hidden;
    }
    .about ul em {
        font-size: 16px;
        line-height: 22px;
    }
    .about ul em a{
        display:block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
    }
    .about ul li:nth-child(odd) > em{padding-bottom:20px}
    .material-symbols-outlined{font-size: 24px !important;}
    article h2 {
        position: relative;
        margin-bottom:30px;
        font-size: 30px;
    }
    .skill{padding-bottom: 30px}
    .skill ul li em{
        position:absolute;z-index:1;width: 80px;
        text-align: left;color:#ec6344;        
    }
    .skill ul li em:nth-child(1){left:5px;font-size: 14px;}
    .skill ul li em.per{right:5px;text-align: right;text-shadow: 1px 1px 6px rgba(100,100,100,.5);}
    .work_list li{
        display:block;border-bottom: 1px solid;
        padding-bottom: 30px;
    }
    .work_list li p{margin-top:15px;}
    .flexWrap{display:block;}
    .parallax-div .material-symbols-outlined{
        font-size:70px !important;
    }
    .goTop{right:15px;bottom:30px;width:50px;height:50px;}
}